<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3">
                <div class="col col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-3">
                    <label for="" class="form-label">Name</label>
                    <input type="text" class="form-control" name="name" [(ngModel)]="name">
                </div>
                <div class="col col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-3">
                    <label for="" class="form-label">Department</label>
                    <select name="dept" id="" class="form-control" [(ngModel)]="dept">
                        <option value="Computer Science">Computer Science</option>
                        <option value="Civil">Civil</option>
                        <option value="Mechanical">Mechanical</option>
                        <option value="Electronics">Electronics</option>
                    </select>
                </div>
                <div class="col col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-3">
                    <label for="" class="form-label">Designation</label>
                    <input type="text" class="form-control" name="desig" [(ngModel)]="desig">
                </div>
                <div class="col col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-3">
                    <label for="" class="form-label">Education Qualification</label>
                    <input type="text" class="form-control" name="eduq" [(ngModel)]="eduq">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="form-label">Date of Birth</label>
                    <input type="date" name="dob" id="" class="form-control" [(ngModel)]="dob">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="form-label">Address</label>
                    <textarea name="address" id="" cols="30" rows="10" class="form-control" [(ngModel)]="address"></textarea>
                </div>
                <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">Phone No</label>
                    <input type="text" class="form-control" name="phno" [(ngModel)]="phno">
                </div>
                <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">Date of Joining</label>
                    <input type="date" name="doj" id="" class="form-control" [(ngModel)]="doj">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <button class="btn btn-success" [disabled]="status" (click)="vData()" >ADD</button>
                </div>
            </div>
        </div>
    </div>
</div>